<%= form_for ([@piece, @version]) do |f| %>
  <%= f.fields_for @version do |version_fields| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
  <% end %>

  <div><%= f.submit "Update Piece" %></div>
<% end %>
