<%= form_for @piece, class: "span12" do |piece_form| %>
  <% errors = @piece.errors %>
  <% if errors.any? %>
    <div class="row">
      <div id="error_explanation" class="text-error span12">
        <h3 class="text-error"><%= pluralize(errors.count, "error") %> kept us from saving your piece.</h3>
        <ul>
        <% errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="span12">
      <%= piece_form.text_field :title, placeholder: :title, autofocus: true %>
      <%= piece_form.text_area :content, placeholder: :content %>
    </div>
  </div>

  <div><%= piece_form.submit class: "btn btn-primary" %></div>
<% end %>
