<%= form_for @piece, class: "span12" do |piece_form| %>
  <% if @version.errors.any? %>
    <div class="row">
      <div id="error_explanation" class="text-error span12">
        <h3 class="text-error"><%= pluralize(@version.errors.count, "error") %> kept us from saving your piece.</h3>
        <ul>
        <% @version.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%= fields_for :version, @version do |version_fields| %>
    <div class="row">
      <div class="span12">
        <%= version_fields.text_field :title, placeholder: :title %>
        <%= version_fields.text_area :content, placeholder: :content %>
      </div>
    </div>
  <% end %>

  <div><%= piece_form.submit class: "btn btn-primary" %></div>
<% end %>
