<%= form_for @piece do |piece_form| %>
  <% if @piece.errors.any? %>
    <h3><%= pluralize(@piece.errors.count, "error") %> kept us from saving your piece.</h3>
    <% @piece.errors.full_message.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <%= piece_form.fields_for :versions, @version do |version_fields| %>
    <div>
      <%= version_fields.label :title %>
      <%= version_fields.text_field :title %>
    </div>

    <div>
      <%= version_fields.label :content %>
      <%= version_fields.text_area :content %>
    </div>
  <% end %>

  <div><%= piece_form.submit %></div>
<% end %>
