<div class="row piece-bar">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
      <% pieces_class = "btn"
        pieces_class += " btn-link" if current_page != :pieces %>
        <div class="btn-group">
          <%= link_to "<i class=\"icon-pencil\"></i>".html_safe, new_piece_path, class: "btn btn-primary create-piece", title: "create a new piece" %>
          <%= link_to "your pieces", pieces_path, class: pieces_class, title: "view all your pieces in a list" %>
        </div>
        <% if current_page != :pieces %>
          <span class="divider">/</span>
        <% end %>
      </li>

      <% if current_page != :pieces %>
        <li>
        <% piece_class = "btn"
          piece_class += " btn-link" if current_page != :piece %>
          <div class="btn-group">
            <%= link_to "<i class=\"icon-edit\"></i> edit".html_safe, edit_piece_path(piece.id), class: "btn btn-success edit-piece-link", title: "edit this piece" %>
            <%= link_to piece.short_title, piece_path(piece.id), class: piece_class, title: piece.title %>
            <%= link_to "<i class=\"icon-trash\"></i>".html_safe, piece_path(piece.id), class: "btn btn-danger delete-piece-link", method: :delete, title: "delete this piece" %>
          </div>
          <span class="divider">/</span>
        </li>

        <li>
        <% versions_class = "btn"
          versions_class += " btn-link" if current_page != :versions %>
          <div class="btn-group">
            <%= link_to "all versions", piece_versions_path(piece.id), class: versions_class %>
          </div>
          <% if current_page == :version %>
            <span class="divider">/</span>
          <% end %>
        </li>

        <% if current_page == :version %>
          <li>
            <%= link_to version.short_title, piece_version_path(piece.id, version.id), class: "btn" %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
