<% title = 'new piece' %>
<% provide :title, title %>
<h1><%= title %></h1>

<%= form_for @piece do |f| %>
  <div>
    <%= label :version, :title %>
    <%= text_field :version, :title %>
  </div>

  <div>
    <%= label :version, :content %>
    <%= text_area :version, :content %>
  </div>

  <div><%= f.submit %></div>
<% end %>
