<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/title' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>

    <% if flash[:notice] %>
      <div class="row">
        <div class="alert alert-info"><strong><%= flash[:notice] %></strong></div>
      </div>
    <% end %>

    <% if !current_user %>
      <div class="row">
        <div class="hero-unit pagination-centered">
          <h1><%= link_to raw("<i class=\"icon-user\"></i> ")+"Sign in with Google", "/auth/google_oauth2" %></h1>
        </div>
      </div>
    <% end %>

    <div class="row">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
