<!DOCTYPE html>
<html lang="en">
<head>
  <title>tinder</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <h1>tinder <small>- fuel your creativity</small></h1>
    </header>

    <% if flash[:notice] %>
      <div id="flash"><%= flash[:notice] %></div>
    <% end %>

      <% if current_user %>
        <div id="user_nav">
          Welcome, <%= current_user.name %>!
          <%= link_to "Sign Out", signout_path %>
        </div>
      <% else %>
        <div class="hero-unit pagination-centered">
          <h1><%= link_to raw("<i class=\"icon-user\"></i> ")+"Sign in with Google", "/auth/google_oauth2" %></h1>
        </div>
      <% end %>
    </div>

  <%= yield %>

  <footer><p class="muted">&copy; 2012 | a <%= link_to "nullsix", "http://nullsix.com" %> passion</p></footer>
</div>

</body>
</html>
